@mixin j-transition($prop) {
  -webkit-transition: $prop 200ms ease-out 0s;
  -moz-transition: $prop 200ms ease-out 0s;
  -o-transition: $prop 200ms ease-out 0s;
  transition: $prop 200ms ease-out 0s;
}

@mixin center-cover($url) {
  background-image: url($url);
  background-size: cover;
}
